@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "poppins",sans-serif;
}

:root{
    --primary-color: #fe5b3d;
    --secondary-color: #fFAC38;
    --text-color: #444;
    --gradient-color: linear-gradient(#fe5b3d, #fFAC38);
}
html{
    font-size: 15px;
}
body{
    background: #EEEFF1;
}

header{
    
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        padding: 15px 100px;
    
}

.logo img{
    width: 40px;
    left: -80px;
    position: relative;
    top: 5px;
}
.logo-text{
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-left: -350px;
   
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500px;
}
.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

.table-container {
  display: block;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

th {
  background: var(--primary-color);
  color: #fff;
}

td {
  background: #f9f9f9;
}
.btn{
    background-color: #474fa0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s, box-shadow 0.3s;  
}
.btn:hover{
    background-color: var(--primary-color);
}
